.notfound {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
}

.notfound .content {
    text-align: center;
}

.notfound .content h1 {
    color: #ff928b;
    font-size: 120px;
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
}

.notfound .content h2 {
    color: #ff928b;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
  }

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

  