.notfound {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
}

.notfound .content {
    text-align: center;
}

.notfound .content h1 {
    color: #ff928b;
    font-size: 120px;
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
}

.notfound .content h2 {
    color: #ff928b;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
} 